<section id="navbarBlock">
  <article>
    <div class="logoBlock">
      <a href="#"><img src="../../images/logo.jpg" alt="" /></a>
    </div>
    <div class="menuBlock"><nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/assingment">About</a></li>
          <li><a href="">Login</a></li>
          <li><a href="/contact">Connect</a></li>
        </ul>
      </nav></div>
  </article>
</section>